 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
    }

body {
       display: flex;
       flex-direction: column;
       min-height: 100vh;
       background-color: rgb(68, 68, 197);
       font-family: Arial, sans-serif;
       color: #fff;
    }

.header{
    background-color: rgb(38, 38, 180);
    padding:30px;
    margin: 20px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
}    

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
    width: 200px;
}
        