 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
    }

body {
       display: flex;
       flex-direction: column;
       min-height: 100vh;
       background-color: #f0f0f0;
       font-family: Arial, sans-serif;
    }

.header{
    background-color: #f0f0f0;
    padding:20px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
}    
        